@import 'variables';

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

body#main-body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-color: $charade-blue;
}

div, p, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p.copyright {
    color: $alto-white;
}

button, input, textarea {
    font-weight: 400;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

button.btn {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}
