@import "src/variables";

div#main {
    div.alert {
        div.alert-header {
            //background-color: $cinder-blue;
            z-index: 1;

            div.user-icon {
                width: 8rem;
                height: 8rem;
                line-height: 8rem;
                display: inline-block;
                font-size: 4.8rem;
                color: $alto-white;
            }

            p {
                font-size: 1.8rem;
                font-weight: 300;
                color: $alto-white;
            }

            a {
                font-size: 1.8rem;
                color: $white;

                &:hover {
                    //color: $bootstrap-blue;
                    text-decoration: none;
                }
            }
        }

        div.alert-footer {
            p {
                color: $alto-white;

                a {
                    color: $white;

                    &:hover {
                        //color: $bootstrap-blue;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    div.authenticated {
        div.authenticated-header {
            //background-color: $cinder-blue;
            z-index: 1;

            div.list-icon {
                //background-color: $charade-blue;
                color: $gallery-white;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                display: inline-block;
                transform: translateY(2rem);
                font-size: 1.8rem;
            }

            h3 {
                color: $gallery-white;
            }
        }

        div.authenticated-body {
            img {
                object-fit: cover;
            }

            h3 {
                //background-color: $cinder-blue;
                color: $gallery-white;
            }

            p {
                //color: $charade-blue;
                background-color: $gallery-white;
            }
        }

        div.button-box {
            background-color: $gallery-white;
        }
    }
}
