<!--<div id="main" class="container">-->
<!--    <div *ngIf="isAuthenticated !== undefined && !isAuthenticated" class="row justify-content-center alert m-0 p-0">-->
<!--        <div  class="col-5 text-center alert-header rounded p-5">-->
<!--            <div class="user-icon rounded-circle text-center"><span class="fa fa-user"></span></div>-->
<!--            <p>Welcome to SNOMED International Tools!</p>-->
<!--            <p>Already have an account?</p>-->
<!--            <a routerLink="/login">Log In</a>-->
<!--        </div>-->

<!--        <div class="w-100"></div>-->

<!--        <div class="col-5 text-center alert-footer pt-5">-->
<!--            <p class="mb-0">No account yet? <a href="http://snomed.org/accounts" class="pl-2">Register a new account</a></p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div *ngIf="isAuthenticated" class="row justify-content-center authenticated">-->
<!--        <div class="col-5 text-center authenticated-header">-->
<!--            <h3 class="px-5 pt-5 mb-0">Welcome to SNOMED International Tools!</h3>-->
<!--            <div class="list-icon rounded-circle text-center"><span class="fa fa-th-list"></span></div>-->
<!--        </div>-->

<!--        <div class="w-100"></div>-->

<!--        <div class="col-5 text-center authenticated-body p-0">-->
<!--            <img class="w-100" src="./assets/images/sca-small.jpg">-->
<!--            <h3 class="p-4">Authoring Platform</h3>-->
<!--            <p class="px-5 pt-5 pb-3 m-0">The Authoring Platform is an easy to use web-solution that is designed for SNOMED CT authoring and managing authoring tasks.</p>-->
<!--            <div class="button-box row mx-0 pb-5">-->
<!--                <div class="col-12 px-2">-->
<!--                    <a href="https://confluence.ihtsdotools.org/display/SIAPUG/SNOMED+International+Authoring+Platform+User+Guide">-->
<!--                        <button class="w-75 p-2 btn btn-primary">-->
<!--                            <i class="fa fa-life-saver float-left"></i>View the User Guide-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
