.*
*.iml
node_modules/

/identity-service/target
/identity-service/deb

/identity-ui/target
/identity-ui/dist
/identity-ui/deb

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
target
