<nav id="navbar" class="navbar sticky-top navbar-dark p-2 pr-2">
    <div class="container">
        <ng-container [ngSwitch]="environment">
            <div *ngSwitchCase="'local'" class="banner local"></div>
            <div *ngSwitchCase="'dev'" class="banner dev"></div>
            <div *ngSwitchCase="'uat'" class="banner uat"></div>
            <div *ngSwitchCase="'training'" class="banner training"></div>
            <div *ngSwitchDefault class="banner d-none"></div>
        </ng-container>

        <a href="">
            <img class="logo mr-2 p-0" src="./assets/images/small_logo.png">
            <span class="title pl-3">SNOMED International Tools</span>
        </a>

        <div class="dropdown">
            <button class="dropdown-toggle py-2 px-3" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{isAuthenticated && isAdmin ? 'Administration' : 'My Account'}}
            </button>
            <div *ngIf="isAuthenticated !== undefined && !isAdmin"
                 class="dropdown-menu text-center rounded-0 border-0" aria-labelledby="dropdownMenuButton">
                <a *ngIf="isAuthenticated" class="dropdown-item p-2" href="#" (click)="logout()">Logout</a>
                <a *ngIf="!isAuthenticated" class="dropdown-item p-2" routerLink="/login">Login</a>
                <a *ngIf="!isAuthenticated" class="dropdown-item p-2" href="http://snomed.org/accounts">Register</a>
            </div>
            <div *ngIf="isAuthenticated && isAdmin"
                 class="dropdown-menu text-center rounded-0 border-0" aria-labelledby="dropdownMenuButton">
                <a *ngIf="isAuthenticated" class="dropdown-item p-2" href="#" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>
