@import "~src/variables";

nav#navbar {
    a {
        height: 40px;

        &:link {
            text-decoration: none;
        }

        span.title {
            color: $gallery-white;
            font-size: 2rem;
            line-height: 40px;
            vertical-align: top;
        }

        img.logo {
            vertical-align: initial;
            height: 40px;
        }
    }

    div.banner {
        position: absolute;
        top: 10px;
        left: -30px;
        transform: rotate(-45deg);
        line-height: 1rem;
        opacity: 0.8;
        color: $white;
    }

    div.local::before {
        content: "LOC";
        padding: 0 30px;
        background-color: $emperor-grey;
        border: 1px solid yellow;
    }

    div.dev::before {
        content: "DEV";
        padding: 0 30px;
        background-color: $crimson-red;
        border: 1px solid yellow;
    }

    div.uat::before {
        content: "UAT";
        padding: 0 30px;
        background-color: $curious-blue;
        border: 1px solid yellow;
    }

    div.training::before {
        content: "TRN";
        padding: 0 30px;
        background-color: $forest-green;
        border: 1px solid yellow;
    }

    div.dropdown {
        button {
            background-color: transparent;
            box-shadow: none;
            border: none;
            color: $gallery-white;

            &:hover, &:focus {
                background-color: $cinder-blue;
            }
        }

        div.dropdown-menu {
            background-color: $cinder-blue;
            box-shadow: none;

            a.dropdown-item {
                font-size: 1.4rem;
                color: $gallery-white;
                line-height: 3rem;

                &:hover {
                    background-color: transparent;
                    color: $alto-white;
                }
            }
        }
    }
}
