<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.pwd.reset.title}">IHTSDO Tools : Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.pwd.reset.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.pwd.reset.text1}">
			You requested password reset for your IHTSDO Tools account, please click on the URL below to reset your password:        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/resetPassword?key=${user.passwordResetKey}|}"
               th:text="|${user.userName}|">Reset Your Password</a>
        </p>
        <p>
            <span th:text="#{email.pwd.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">IHTSDO Tools Team.</em>
        </p>
    </body>
</html>