@import '../../../variables';

div#login {
    color: white;

    div.login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 5rem);

        div.login-box {
            width: 100%;

            div.header {
                h3 {
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }

            div.content {
                color: $bootstrap-black;

                input {
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 300;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 300;

                    &.validation {
                    }
                }

                button {
                    font-weight: 300;
                    letter-spacing: 1px;
                    font-size: 1.6rem;

                    a {
                        line-height: 3.4rem;
                    }
                }
            }

            div.footer {
                button {
                    font-weight: 300;
                    letter-spacing: 1px;
                    font-size: 1.6rem;
                }
            }

            div.post-text {
                h3 {
                    font-size: 1.6rem;
                    font-weight: 300;

                    a {
                        color: $anakiwa;

                        &:hover {
                            color: lighten($anakiwa, 10%);
                        }
                    }
                }
            }
        }
    }



    //div.login-header {
    //    //background-color: $cinder-blue;
    //    z-index: 1;
    //
    //    div.user-icon {
    //        //background-color: $charade-blue;
    //        width: 4rem;
    //        height: 4rem;
    //        line-height: 4rem;
    //        display: inline-block;
    //        transform: translateY(2rem);
    //        font-size: 1.8rem;
    //    }
    //}
    //
    //div.login-body {
    //    background-color: $gallery-white;
    //    //color: $charade-blue;
    //
    //    form {
    //        div.form-group {
    //            input {
    //                font-size: 1.6rem;
    //            }
    //        }
    //        div.form-check {
    //            input {
    //                font-size: 1.6rem;
    //                cursor: text;
    //            }
    //        }
    //
    //        button {
    //            cursor: pointer;
    //            font-size: 1.6rem;
    //        }
    //
    //        div.auth-error {
    //            //color: $pomegranate-red;
    //        }
    //    }
    //}
    //
    //div.login-footer {
    //    p {
    //        color: $alto-white;
    //
    //        a {
    //            color: $white;
    //
    //            &:hover {
    //                //color: $bootstrap-blue;
    //                text-decoration: none;
    //            }
    //        }
    //    }
    //}
}
