<div id="login" class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="login-container">
                <div class="login-box rounded-top-4">
                    <ng-container *ngIf="user">
                        <div class="header bg-bootstrap-black rounded-top-3">
                            <h3 class="px-3 py-4 mx-3 mb-0">
                                SNOMED International Tooling
                            </h3>
                        </div>

                        <div class="content bg-gallery-white rounded-bottom-3">
                            <div class="p-4">
                                <img src="./assets/images/sca-small.jpg" class="card-img-top">
                            </div>
                            <h3 class="m-4 mb-0 px-3 text-black">Authoring Platform</h3>
                            <p class="m-4 mt-2 px-3 text-river-bed">The Authoring Platform is an easy to use web-solution that is designed for SNOMED CT authoring and managing authoring tasks.</p>
                            <div class="text-center pb-3">
                                <button class="m-2 p-0 rounded bg-cerulean">
                                    <a href="https://confluence.ihtsdotools.org/display/SIAPUG/SNOMED+International+Authoring+Platform+User+Guide" class="text-white py-2 px-3 ">USER GUIDE</a>
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!user">
                        <form [formGroup]="messageForm" (ngSubmit)="doLogin()" role="form">
                            <div class="header bg-bootstrap-black rounded-top-3">
                                <h3 class="px-3 py-4 mx-3 mb-0">
                                    Please Log In
                                </h3>
                            </div>
                            <div class="content bg-gallery-white">
                                <div class="input-group p-4 pb-0 input-group-lg">
                                    <span class="input-group-text">USERNAME</span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Your username..." formControlName="username" autofocus>
                                </div>
                                <p *ngIf="formSubmit && messageForm.controls['username'].errors && messageForm.controls['username'].errors['required']" id="usernameHelp" id="usernameHelp" class="validation px-4 py-2 mx-3 m-0 text-mandy">Account name is required</p>
                                <div class="input-group p-4 pb-0 input-group-lg">
                                    <span class="input-group-text">PASSWORD</span>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Your password..." formControlName="password">
                                </div>
                                <p *ngIf="formSubmit && messageForm.controls['password'].errors && messageForm.controls['password'].errors['required']" id="passwordHelp" class="validation px-4 py-2 mx-3 m-0 text-mandy">Password is required</p>
                                <div class="input-group input-group-lg p-4">
                                    <span class="input-group-text">AUTOMATIC LOG IN</span>
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" formControlName="rememberMe"  type="checkbox" checked>
                                    </div>
                                </div>
                            </div>
                            <div class="footer bg-gallery-white border-top rounded-bottom-3 text-end">
                                <button type="submit" class="py-2 px-3 m-2 text-white rounded bg-fruit-salad">LOG IN</button>
                            </div>
                            <div class="post-text text-center p-3">
                                <h3>No account yet? <a href="http://snomed.org/accounts" class="pl-2">Register a new account</a></h3>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>

<!--        <div class="col-5 text-center login-header">-->
<!--            <h2 class="px-5 pt-5 mb-0">Please Log In</h2>-->
<!--            <div class="user-icon rounded-circle text-center"><span class="fa fa-user"></span></div>-->
<!--        </div>-->
<!--        <div class="w-100"></div>-->
<!--        <div class="col-5 login-body p-5">-->
<!--            <form [formGroup]="messageForm" (ngSubmit)="doLogin()" role="form">-->
<!--                <div class="form-group">-->
<!--                    <label for="username">Account Name</label>-->
<!--                    <input type="text" class="form-control" id="username" name="username" placeholder="Your account name" formControlName="username" autofocus>-->
<!--                    <small *ngIf="formSubmit && messageForm.controls['username'].errors && messageForm.controls['username'].errors['required']" id="usernameHelp" class="form-text text-muted">Account name is required</small>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password" class="form-control" id="password" name="password" placeholder="Your password" formControlName="password">-->
<!--                    <small *ngIf="formSubmit && messageForm.controls['password'].errors && messageForm.controls['password'].errors['required']" id="passwordHelp" class="form-text text-muted">Password is required</small>-->
<!--                </div>-->
<!--                <div class="form-check pb-3">-->
<!--                    <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe" checked>-->
<!--                    <label class="form-check-label pl-3" for="rememberMe">Automatic Log In</label>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary btn-block p-2">Log In</button>-->
<!--                <div *ngIf="authenticationError" id="authError" class="form-text auth-error text-center pt-3 px-3 pb-0">Sorry, we had a problem authenticating your credentials. Please check them and try again.</div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="w-100"></div>-->
<!--        <div class="col-5 text-center login-footer pt-5">-->
<!--            <p class="mb-0">No account yet? <a href="http://snomed.org/accounts" class="pl-2">Register a new account</a></p>-->
<!--        </div>-->
    </div>

</div>
